.admin__book__item{
    display: flex;
    padding: 5px;
    flex-direction: column;
    gap: 5px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
    box-shadow: inset -14px -8px 24px 21px rgba(0,0,0,0.1),inset -100px -100px 100px -100px rgba(0,0,0,0.1);
     border-radius: 5px;
    padding: 1rem;
    margin: 2px;
    width: 30%;
    @media (max-width: 500px) {
        width: 90%;
    }
    h2{
        color: green;
    }
    .book_info{
       color: blue;
        font-size: 18px;
        small{
            color: black;
        }
    }
    button{
        border: none;
        outline: none;
        color: white;
        padding: 5px 6px;
        width: max-content;
        cursor: pointer;
        border-radius: 5px;
        box-shadow: inset 3px;
    }
    .update{
        background-color: purple;
    }
    .delete{
        background-color: rgb(209, 19, 19);
    }
}