.adminpage__container {
  display: flex;
  gap: 20px;
  padding: 5% 0;
  margin-bottom: 10%;

  @media (max-width: 767px) {
    display: block;
  }

  .left__side {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;

    @media (max-width: 767px) {
      display: block;
      justify-content: center;
      align-items: center;
    }

    h1 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    .adminFunctions {
      margin-bottom: 20px;

      @media (max-width: 767px) {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
      }

      button {
        margin: 5px;
        padding: 8px 16px;
        font-size: 14px;
        background-color: #4caf50;
        color: white;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #45a049;
        }
      }
    }

    .author__container {
      padding: 20px;
      display: flex;
      flex-direction: column;
      h3 {
        font-size: 18px;
        margin-bottom: 10px;
      }

      .authors {
        display: grid;
        gap: 10px;

        // Style for AuthorItem component
        .author {
          padding: 10px;
          background-color: #f9f9f9;
          border: 1px solid #ddd;
          border-radius: 4px;
          display: flex;
          align-items: center;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
          }
        }
      }
    }
  }

  .right__side {
    flex: 3;

    .option__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      margin-bottom: 20px;
      @media (max-width:350px) {
        flex-direction: column;
      }
    }
    .status-message {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9999;
      background-color: rgb(23, 12, 59);
      padding: 10px 15px;
      color: #fff;
      font-size: 20px;
    }

    .deleted-status {
      padding: 10px 15px;
      font-size: 20px;
      background-color: white;
      color: crimson;
    }


    .adminBookContainer {
      padding: 1rem;
      display: flex;
      flex-wrap: wrap;
      @media (max-width: 557px) {
        width: 100vw;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }
    }



    .transactionContainer {
      padding: 1rem;
      button {
        color: white;
        background-color: red;
        align-self: right;
        padding: 8px 16px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #e53935;
        }
      }

      h3 {
        font-size: 18px;
        align-self: center;
      }

      table {
        width: 100%;
        border-collapse: collapse;

        th,
        td {
          padding: 8px;
          border-bottom: 1px solid #ddd;
        }

        th {
          background-color: #f2f2f2;
          font-weight: bold;
        }

        td {
          text-align: center;
        }
      }
    }
  }
}